<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bing Web Search API Tutorial</title>
    <base target="_blank">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- for the Bing Web Search API -->
    <script src="/js/script.js"></script>
    <!-- for the Google Knowledge Graph API -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/script_google.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

</head>

<body>
  <div class="ui top fixed menu">
    <div class="ui container">
      <a href="/" class="item"><img src="/img/nextgen.jpg" style="width:369px;height:136px;"></a>
      <a href="/data" class="item"><h2>Database</h2></a>
    </div>
  </div>
